<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Automated Waste Segregation System{% endblock %}</title>
</head>
<h2>Welcome, {{ current_user.username }}!</h2>
<p>We are currently under maintainence</p>
    <div class="last-text">
        <p>&copy; Developed by STEM Mavericks</p>
    </div>
</body>
</html>
