/* General styles */
body {
  font-family: 'Playwrite CU', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('./img.jpg')no-repeat;
  background-size: cover;
}

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* Home section styles */
.home {
  text-align: center;
  padding: 100px 20px 60px;
  color: #fff;
}

.home h3 {
  font-size: 24px;
}

.home h1 {
  font-size: 36px;
}

.home span {
  color: #f4a261; /* Accent color */
}

.home p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

/* About section styles */
.about {
  padding: 60px 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* Contact section styles */
.contact {
  padding: 60px 20px;
  color: #fff;
  text-align: center;
}

.contact h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.contact h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  font-size: 16px;
}

.contact-list a {
  color: #f4a261;
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}

/* Footer styles */
.last-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}
body {
  font-family: 'Playwrite CU', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 150%;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-box input {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-left: 3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.input-box i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2980b9;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: #777;
}

footer p {
  margin: 0;
}
