<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Favicon_1.ico') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}MyApp{% endblock %}</title>
</head>
<body>
    <header>
        <h2 class="user">Welcome, <span>{{ current_user.username if current_user.is_authenticated else 'User' }}!</span></h2>
        <a href="{{ url_for('index') }}" class="logo">Automated <span>Waste Segregation</span> System</a>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" style="--i:1">Home</a>
            <a href="#details" style="--i:2">Project Details</a>
            <a href="#about" style="--i:3">About Us</a>
            <a href="#contact" style="--i:4">Contact</a>
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}" style="--i:5">Login</a>
            <a href="{{ url_for('register') }}" style="--i:6">Register</a>
            {% else %}
            <a href="{{ url_for('analytics') }}">Analytics</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 STEM Mavericks. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
